chill_activity_activity:
    resource: "@ChillActivityBundle/Resources/config/routing/activity.yml"
    prefix:   /

chill_activity_activityreason:
    resource: "@ChillActivityBundle/Resources/config/routing/activityreason.yml"
    prefix:   /

chill_activity_activityreasoncategory:
    resource: "@ChillActivityBundle/Resources/config/routing/activityreasoncategory.yml"
    prefix:   /

chill_activity_activitytype:
    resource: "@ChillActivityBundle/Resources/config/routing/activitytype.yml"
    prefix:   /

chill_admin_activity_index:
    path:     /{_locale}/admin/activity
    defaults: { _controller: ChillActivityBundle:Admin:indexActivity }
    options:
        menus:
            admin_section:
                label: Activity configuration
                order: 2000
                icons: [tag]

chill_admin_activity_redirect_to_admin_index:
    path:     /{_locale}/admin/activity_redirect_to_main
    defaults:
        _controller: ChillActivityBundle:Admin:redirectToAdminIndex
    options:
        menus:
            admin_activity:
                order: 0
                label: Main admin menu
