chill_activity_activity_list:
    path:     /{_locale}/person/{person_id}/activity/
    defaults: { _controller: "ChillActivityBundle:Activity:list" }
    options:
        menus:
            person:
                order: 201
                label: Activity list

chill_activity_activity_show:
    path:     /{_locale}/person/{person_id}/activity/{id}/show
    defaults: { _controller: "ChillActivityBundle:Activity:show" }

chill_activity_activity_new:
    path:     /{_locale}/person/{person_id}/activity/new
    defaults: { _controller: "ChillActivityBundle:Activity:new" }
    options:
        menus:
            person:
                order: 200
                label: Add a new activity

chill_activity_activity_create:
    path:     /{_locale}/person/{person_id}/activity/create
    defaults: { _controller: "ChillActivityBundle:Activity:create" }
    methods:  POST

chill_activity_activity_edit:
    path:     /{_locale}/person/{person_id}/activity/{id}/edit
    defaults: { _controller: "ChillActivityBundle:Activity:edit" }

chill_activity_activity_update:
    path:     /{_locale}/person/{person_id}/activity/{id}/update
    defaults: { _controller: "ChillActivityBundle:Activity:update" }
    methods:  [POST, PUT]

chill_activity_activity_delete:
    path:     /{_locale}/person/{person_id}/activity/{id}/delete
    defaults: { _controller: "ChillActivityBundle:Activity:delete" }
    methods:  [POST, DELETE]
